*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    max-width: 800px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

 td , th{
    border: 1px solid gray;
    padding: 10px;
}

thead th:first-of-type ,
th:nth-child(2){
   text-align: center;
}

tbody td:first-of-type{
   text-align: center;
}

.link-to-home{
    text-decoration: none;
    font-size: 22px;
    background-color: bisque;
    color: #222;
    padding: 6px 30px;
    border-radius: 7px;
}